body {
  font-family: "Abril Fatface", cursive;
  text-align: center;

  display: flex;
  flex-direction: column;

  transition: background-color 0.5s ease;
}

div#text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 55px;
  color: #000000;
}

p#days {
  color: #fcfcfc;
}

p#note {
  font-size: 30;
}

button {
  padding: 10px 15px;
  margin: 0 15px;
  font-size: 20px;
}

#day_by_day_view {
  margin: 40px auto 0;
  width: min-content;
  text-align: right;
}

#day_by_day_view_items {
  display: flex;
  border: 2px solid;
}
#day_by_day_view_items > div {
  border: 1px dashed;
  width: 10px;
  line-height: 10px;
}
.active_day {
  background-color: #c01d2f;
}

.inactive_day {
  background-color: #1dc075;
}
